.footer {
    align-items: center;
    background-color: darken(@base-color, 10%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    padding: 1vw 0;
    text-align: center;
    width: 100%;

    .contact-icon {
        margin: 0 2vw;
    }

    .footer-icons {
        display: flex;
        padding-top: 2vh;
        justify-content: center;
        width: 50vw;

        @media @small {
            a {
                margin: 0 4vw;
            }
        }
    }
}
