@import "../variables.less";

@small-width: calc(50% - 2em);

.photography-container.page {
    .page-content {
        width: 70%;

        @media @small {
            width: 90%;
        }
    }

    .tile {
        margin: 1em !important;

        @media @small {
            // React image gallery hardcodes the CSS to the element, need to override it
            background-color: transparent !important;
            height: 100%;
            margin: 1em 0 !important;
            width: 100%;

            img {
                display: block;
                margin: 0 auto !important;
            }

            .tile-viewport {
                width: 100% !important;
            }
        }
    }
    // #instafeed {
    //     overflow-y: hidden;
    //     text-align: center;
    
    //     a { 
    //         img {
    //             padding: 0.5% 1%;
    //             width: 30%;
    //         }
    
    //         // When the Instagram feed rerenders, it adds more images. This hides every image after the 12th image.
    //         &:nth-child(1n+15) {
    //             display: none;
    //         }
    //     }
    
    //     @media @small {
    //         a img {
    //         width: 48%;
    //         }
    //     }
    // }
    
}

div[class*='footerCount'] {
    font-family: 'Work Sans', sans-serif;
}