// Variables
@base-color: #476174;
@link-color: #c8c8c8;
@link-color-active: white;
@small: ~"screen and (max-width: 800px)";

// Imports
@import "pages/about.less";
@import "pages/photography.less";
@import "pages/work.less";

@import "hero.less";
@import "footer.less";
@import "nav.less";
@import "reset.less";

// Global styling
#root {
  font-family: 'Work Sans', sans-serif;
  overflow-y: scroll;
}

a {
  color: @link-color;
  text-decoration: none;
  transition: 0.3s;
}

h1 {
  font-size: 40px;
  margin: 10px 0;
}

h2 {
  font-size: 35px;
  line-height: 35px;
}

h3 {
  color: #9FCF2C;
  font-size: 20px;
  line-height: 20px;
}

p {
  margin: 1em 0;
}

strong {
  font-weight: bold;
}

.center {
  text-align: center;
}

// Page styling
.page {
  margin-top: 45px;

  @media @small {
    margin-top: 85px;
  }

  .page-content {
    display: block;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 1em auto 0;
    width: 70%;
  }

  &.fluid .page-content {
    margin: auto;
    width: 100%;
  }

  .page-cover {
    height: 200px;

    .page-title {
      background-color: rgba(0, 0, 0, 0.7);
      font-size: 30px;
      font-weight: bold;
      padding: 1em 2em;
      text-align: center;
    }
  }
}


// Gallery
.gallery-title {
  text-align: center;
}

// Photography


// Fade
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
